.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    

}

.container-fluid {
    width: 100% !important;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.fa-angle-right:hover{
    border-style: solid;
    border-color: #999;
    border-radius: 100%;
    border-width: 1px;
    width: 50px;
    height: 50px;


}


.fa-angle-left:hover{
    border-style: solid;
    border-color: #999;
    border-radius: 100%;
    border-width: 5px;
    width: 50px;
    height: 50px;


}
/* --- NAV BAR ---*/

.bg-dark {
    background-color: #231f20 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

/* ---- logo ---*/

.livestreamlogo{
    height:50px;
    width: 100%;
    background-image: url("../img/logo.png");
   
    background-repeat: no-repeat;
    background-size: contain;
    
}

.videoSection{
    height: 70vh;
    width: 100%;
    background-color: grey;
    background-image: url(../img/videoheader.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
   
}

.weAreText{
    color: #f48932;
  
  /*  font-weight: bolder; */
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: large;
    height: 300px;
    font-size: 2em;
}



/* ---- SERVICES ----*/


.preview{
  /*  width: 100%;*/
    height: 45vh;
    background: grey;
    line-height: 0.5;
    color: white;
    
}

.preview:hover{
    background-color: #f48932;
    background-blend-mode: overlay;
    transition: ease-in;
    transition-duration: 1s;
    
    
}


.film{
    background-image: url(../img/film.png);
    background-size: cover;
    background-position: center;
}

.print{
    background-image: url(../img/print.png);
    background-size: cover;
    background-position: center;
}

.threed1{
    background-image: url(../img/3d1.png);
    background-size: cover;
    background-position: center;
}
.threed2{
    background-image: url(../img/3d2.png);
    background-size: cover;
    background-position: center;
}

/* ----- work video ----*/

.workVideo{
    height: 70vh;
    width: 100%;
    background-color: grey;
    background-image: url(../img/3deabl.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   
}


/* ---- TEAM MEMBERS ---*/

.team1{
    background-image: url(../img/alice.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: center;
}

.team2{
    background-image: url(../img/grace.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: center;
    
}




.border-10{
    border-style: solid;
    border-color:white;
    border-right-width: 20px;
    border-bottom-width: 10px;
}


.workText{
    position: absolute;
    bottom: 0px;

}

.view-more{
    background-color:#231f20;
    background-attachment: fixed;
    height: 200px;
    text-align: center;
    color: white;
    font-size: 1.4em;
}

.brandsLogo{
    vertical-align: bottom;
    border-style: solid;
    border-left-width: 23px;
    margin-left: 0px;
    border-color: white;
    width: 150px;
        
}


body {
    font-family: Muli, 'Segoe UI', Tahoma, sans-serif;
    overflow-x: hidden;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
}


.leftChevron{
    position: relative;
    top:20vh;
 
    left: 0%;
}


.rightChevron{    
    position: relative;
    top:20vh;
   left: 85%;
    /*margin-left: 95%;*/
    transform: rotate(180deg);
}


.bottomChevron{
    position: relative;
    transform: rotate(270deg);
}


.bottomChevron:hover{
    position: relative;
    transform: rotate(270deg);
    border-style: solid;
    border-color: #555;
    border-radius: 100%;
    border-width: 1px;
}

.preview h5{
    font-size: 28px;
}

.preview p{
    font-size: 18px;
}

.preview small{
    font-size: 14px;
}



a{
    color:white;
    padding:15px;
}

a:hover{
   text-decoration: none;
   
    color:#f48932
}

a:active{
    color:yellow;
}

.tsec2{
    display: none;
}

.mobile-menu{
    display: none;
    height: 100vh;
    width: 100vw;
    background-color:#222;
    color:#222222c2;
    position: fixed;
    top: 0px;
    z-index: 999;
    right:0px;
    padding:60px;
    padding-top:90px;
    text-align: center;
    text-shadow:
    -1px -1px 0 #555,
    1px -1px 0 #555,
    -1px 1px 0 #555,
    1px 1px 0 #555;
}

.mobile-menu a{
    font-size: 3.5em;
  
    font-weight: 900;
    color:#222;
    text-shadow:
    -1px -1px 0 #f48932,
    1px -1px 0 #f48932,
    -1px 1px 0 #f48932,
    1px 1px 0 #f48932;
    overflow-x: hidden;
    overflow: hidden;
}


.mobile-menu a:hover{

    color:#f48932;
    border-style: none;
    border-style: none;

}
.mobile-menu li{
    list-style-type: none;
    padding-top: 10px;
    text-shadow:
    -1px -1px 0 #555,
    1px -1px 0 #555,
    -1px 1px 0 #555,
    1px 1px 0 #555;

}

#closeMobile{
    border-style: dashed;
    border-color: #f48932;
    border-radius: 100%;
    border-width: 10px;
    position:fixed;
    right: 30px;
    
  
}
#closeMobile:hover{
    border-style: dashed;
    border-color: #f1461b;
    border-radius: 100%;
    
  
}


.openMobile{
    position:fixed;
    right: 30px;

}